@model IEnumerable<TodoMVC.Web.ToDoListModels>
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
<form action="/ToDoListModels/Search" method="post">
    <p>
        @Html.RadioButton("Status", true)
        Completed
        @Html.RadioButton("Status", false, true)
        Active
        <button type="submit">Search</button>
    </p>

</form>
<form action="/ToDoListModels/DeleteAll" method="post">
    <table class="table">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Action
            </th>

        </tr>

        @if (Model != null)
        {
            foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    </td>
                </tr>
            }
        }
    </table>

</form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>


